# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.eggs/

# .env — секретные данные (не пушим в GitHub)
.env

# ==========================
# Logs
# ==========================
# Игнорируем все логи, но оставляем саму папку logs с .gitkeep
logs/*
!logs/.gitkeep
*.log

# ==========================
# Virtual env
# ==========================
venv/
.envrc
.python-version

# ==========================
# Node / React
# ==========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp
.pnp.js
coverage/
build/
dist/

# ==========================
# Docker
# ==========================
docker-compose.override.yml
.docker/
.dockerignore

# ==========================
# Editor / System
# ==========================
.DS_Store
.idea/
.vscode/
*.swp
*~
